* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.container {
  height: 50rem;
  width: 50rem;
  margin: 8rem auto 3rem;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 2rem;
}

.content {
  height: 70%;
  width: 70%;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  justify-content: end;
}

.results-display {
  height: 85%;
  width: 100%;
  color: #444;
  font-size: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.amount-display {
  height: 7.5%;
  width: 100%;
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dies {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1rem;
}

.btn,
.dice-menu-btn {
  height: 4.5rem;
  width: 4.5rem;
  background-color: #777;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 2rem;
  transition: all 0.5s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-corner {
  position: absolute;
  left: 0;
  bottom: 0;
}

.dice-menu-btn {
  z-index: 100;
}

.hidden {
  display: none;
  z-index: -1;
}

.close-icon {
  transform: rotate(45deg);
}

.expand {
  transform: translateY(-125%);
}

.btn:hover {
  background-color: #555;
}

.action-btns {
  /* background-color: black; */
  width: 50rem;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn-large {
  font-size: 1.5rem;
  padding: 1rem 3.2rem;
  border-radius: 5px;
  background: none;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

.btn-large:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2);
}

.btn-large:active {
  transform: translateY(0.2rem);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.4);
}

.roll {
  background-color: #bf0603;
  color: #fff;
}

.clear {
  background-color: #fff;
  color: #000;
}
